USE [master]
GO
/****** Object:  Database [zasylogicDB]    Script Date: 2/12/2022 8:55:19 p. m. ******/
CREATE DATABASE [zasylogicDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'zasylogicDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\zasylogicDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'zasylogicDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\zasylogicDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [zasylogicDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [zasylogicDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/12/2022 8:55:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AtencionClientes]    Script Date: 2/12/2022 8:55:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtencionClientes](
	[AtencionClienteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Apellidos] [nvarchar](500) NULL,
	[Celular] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Sexo] [nvarchar](1) NULL,
	[Motivo] [nvarchar](1) NULL,
	[Fecha_Alta] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AtencionClientes] PRIMARY KEY CLUSTERED 
(
	[AtencionClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AtencionClientes] ADD  CONSTRAINT [DF_AtencionClientes_Fecha_Alta]  DEFAULT (getdate()) FOR [Fecha_Alta]
GO
USE [master]
GO
